@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}
@media (min-width: 1400px) {
  h2 {
    font-size: 56px;
    line-height: 56px;
  }
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.get-button {
  width: 100%;
  height: 48px;
  background-color: rgb(48, 64, 196);
  border-radius: 2px;
  border: none;
  color: rgb(255, 255, 255);
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1400px) {
  .get-button {
    width: 160px;
  }
}

.learn-button {
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: none;
  color: rgb(48, 64, 196);
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1400px) {
  .learn-button {
    width: 158px;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 300px;
  border-radius: 8px;
  padding-top: 22px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 41, 45);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.user-card:hover {
  background-color: rgb(48, 64, 196);
  color: rgb(255, 255, 255);
}
@media (min-width: 1400px) {
  .user-card {
    width: 262px;
    box-shadow: none;
  }
}

[alt=User] {
  height: 195px;
  object-fit: contain;
  margin-bottom: 22px;
}

.header {
  display: flex;
  margin: 0;
  height: 64px;
  width: 100%;
  background-color: #fff;
  align-items: center;
}
@media (min-width: 1400px) {
  .header {
    margin: auto;
    margin-top: 39px;
    width: 1140px;
    height: 62px;
    background-color: rgb(243, 198, 189);
    align-items: center;
  }
}
.header__btn {
  display: none;
}
@media (min-width: 1400px) {
  .header__btn {
    display: block;
  }
}
.header__menu-btn {
  display: flex;
  margin-left: auto;
  width: 58px;
  height: 64px;
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
}
@media (min-width: 1400px) {
  .header__menu-btn {
    display: none;
  }
}
.header__hamburger {
  margin: auto;
}

.logo {
  display: flex;
  margin-left: 12px;
  justify-content: center;
}
.logo__icon {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}
@media (min-width: 1400px) {
  .logo__icon {
    width: 60px;
    height: 60px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.logo__description {
  display: none;
}
@media (min-width: 1400px) {
  .logo__description {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: rgb(43, 41, 45);
    opacity: 0.6;
  }
}

.navigation {
  display: none;
}
@media (min-width: 1400px) {
  .navigation {
    display: block;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 7px;
  }
}
.navigation__item {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 25px;
  text-decoration: none;
  margin-right: 50px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item_arr {
  margin-left: 11px;
}

.headline {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .headline {
    position: relative;
    flex-direction: row;
    width: 1248px;
    height: 456px;
    margin-bottom: 77px;
    margin-top: auto;
    margin-right: 25px;
    margin-left: auto;
  }
}

.headline-content {
  margin: 35px 15px 33px 15px;
  color: rgb(43, 41, 45);
}
.headline-content__title {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
}
.headline-content__description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
}
.headline-content__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 111px;
  justify-content: space-between;
}
@media (min-width: 1400px) {
  .headline-content {
    position: absolute;
    z-index: 1;
    max-width: 754px;
    margin: 0;
    margin-top: 76px;
  }
  .headline-content__title {
    font-size: 80px;
    line-height: 78px;
  }
  .headline-content__description {
    max-width: 456px;
    margin: 0;
    margin-top: 34px;
  }
  .headline-content__buttons {
    flex-direction: row;
    width: 328px;
    margin-top: 58px;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .headline-banner {
    position: relative;
    left: 579px;
    bottom: 77px;
    width: 796px;
    height: 448px;
  }
}

.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 1808px;
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.07);
}
@media (min-width: 1400px) {
  .audience {
    width: 1400px;
    height: 983px;
    padding: 0;
  }
}
.audience__overtitle {
  line-height: 34px;
  margin-bottom: 17px;
}
@media (min-width: 1400px) {
  .audience__overtitle {
    margin-top: 108px;
    margin-bottom: 24px;
  }
}
.audience__title {
  max-width: 555px;
  text-align: center;
  margin-bottom: 18px;
}
.audience__subtitle {
  max-width: 555px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .audience__subtitle {
    margin-top: 12px;
    margin-bottom: 34px;
  }
}
.audience__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 108px;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (min-width: 1400px) {
  .audience__buttons {
    flex-direction: row;
    width: 328px;
    height: 48px;
    margin-bottom: 112px;
  }
}
.audience__cards {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 1245px;
  justify-content: space-between;
}
@media (min-width: 1400px) {
  .audience__cards {
    flex-direction: row;
    width: 1140px;
    height: 300px;
  }
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}
@media (min-width: 1400px) {
  h2 {
    font-size: 56px;
    line-height: 56px;
  }
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.get-button {
  width: 100%;
  height: 48px;
  background-color: rgb(48, 64, 196);
  border-radius: 2px;
  border: none;
  color: rgb(255, 255, 255);
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1400px) {
  .get-button {
    width: 160px;
  }
}

.learn-button {
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: none;
  color: rgb(48, 64, 196);
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1400px) {
  .learn-button {
    width: 158px;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 300px;
  border-radius: 8px;
  padding-top: 22px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 41, 45);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.user-card:hover {
  background-color: rgb(48, 64, 196);
  color: rgb(255, 255, 255);
}
@media (min-width: 1400px) {
  .user-card {
    width: 262px;
    box-shadow: none;
  }
}

[alt=User] {
  height: 195px;
  object-fit: contain;
  margin-bottom: 22px;
}

.order {
  padding: 50px 15px;
  background-color: rgb(244, 245, 247);
}
@media (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 556px;
}
.order__illustration {
  max-width: 200px;
}
@media (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  letter-spacing: -0.25px;
  color: rgb(43, 41, 45);
  margin-top: 40px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
.order__email::placeholder {
  color: rgb(43, 41, 45);
}
@media (min-width: 1400px) {
  .order__email {
    margin: 0;
  }
}
.order__button {
  margin-top: 12px;
  width: 100%;
}
@media (min-width: 1400px) {
  .order__button {
    margin: 0;
    margin-left: 10px;
    width: 160px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: rgb(49, 66, 196);
}

.footer {
  height: 389px;
}

.footer-about {
  height: 338px;
  display: flex;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}

.footer-description {
  margin-left: 130px;
  margin-top: 43px;
  margin-right: auto;
  max-width: 360px;
}
.footer-description__text {
  color: rgb(43, 41, 45);
  font-size: 18px;
  opacity: 0.6;
  line-height: 26px;
}
.footer-description__ref {
  margin-right: 10px;
  margin-top: 25px;
}

.additional-nav {
  display: flex;
  width: 559px;
  height: 231px;
  margin-right: 226px;
  margin-top: 60px;
  color: rgb(43, 41, 45);
}
.additional-nav__column {
  width: 265px;
}
.additional-nav__column:first-child {
  margin-right: 29px;
}

.nav-links__title {
  margin-bottom: 18px;
}
.nav-links__list {
  padding: 0;
  margin: 0;
}
.nav-links__list-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.6;
}

.footer-links {
  display: flex;
  height: 50px;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  width: 180px;
  margin-left: 130px;
  line-height: 22px;
}
.footer-nav__item {
  font-size: 14px;
  text-decoration: none;
  color: rgb(43, 41, 45);
  opacity: 0.6;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 97px;
  height: 16px;
  margin-left: auto;
  margin-right: 130px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.main-page {
  width: 100%;
}
@media (min-width: 1400px) {
  .main-page {
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

.top {
  display: flex;
  flex-direction: column;
  height: 890px;
  background-color: rgb(243, 198, 189);
}
@media (min-width: 1400px) {
  .top {
    height: 710px;
  }
}

/*# sourceMappingURL=styles.css.map */
