.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 1808px;
  padding: 50px 15px;
  background-color: rgba(0, 161, 198, 0.07);

  @include for-large-up {
    width: 1400px;
    height: 983px;
    padding: 0;
  }

  &__overtitle {
    line-height: 34px;
    margin-bottom: 17px;

    @include for-large-up {
      margin-top: 108px;
      margin-bottom: 24px;
    }
  }

  &__title {
    max-width: 555px;
    text-align: center;
    margin-bottom: 18px;
  }

  &__subtitle {
    max-width: 555px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;

    @include for-large-up {
      margin-top: 12px;
      margin-bottom: 34px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 108px;
    justify-content: space-between;
    margin-bottom: 41px;

    @include for-large-up {
      flex-direction: row;
      width: 328px;
      height: 48px;
      margin-bottom: 111px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 1245px;
    justify-content: space-between;

    @include for-large-up {
      flex-direction: row;
      width: 1139px;
      height: 300px;
    }
  }
}
