.get-button {
  width: 160px;
  height: 48px;
  background-color: $button-blue-color;
  border-radius: 2px;
  border: none;
  color: rgba(255, 255, 255, 1);
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.learn-button {
  width: 158px;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border: none;
  color: $button-blue-color;
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
