a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0;

  @include for-large-up {
    font-size: 56px;
    line-height: 56px;
  }
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.get-button {
  width: 100%;
  height: 48px;
  background-color: $button-blue-color;
  border-radius: 2px;
  border: none;
  color: rgba(255, 255, 255, 1);
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;

  @include for-large-up {
    width: 160px;
  }
}

.learn-button {
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border: none;
  color: $button-blue-color;
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;

  @include for-large-up {
    width: 158px;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 300px;
  border-radius: 8px;
  padding-top: 22px;
  align-items: center;
  background-color: $prioriti-white-color;
  color: $text-black-color;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);

  &:hover {
    background-color: $button-blue-color;
    color: $prioriti-white-color;
  }

  @include for-large-up {
    width: 262px;
    box-shadow: none;
  }
}

[alt='User'] {
  height: 195px;
  object-fit: contain;
  margin-bottom: 22px;
}
