@import "variables.scss";

.footer {
    height: 389px;
}

.footer-about {
  height: 338px;
  display: flex;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}

.footer-links {
  display: flex;
  height: 50px;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  width: 180px;
  margin-left: 130px;
  line-height: 22px;

  &__item {
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 97px;
  height: 16px;
  margin-left: auto;
  margin-right: 130px;
}
