@import 'variables.scss';

.headline {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    position: relative;
    flex-direction: row;
    width: 1248px;
    height: 456px;
    margin-bottom: 77px;
    margin-top: auto;
    margin-right: 25px;
    margin-left: auto;
  }
}

.headline-content {
  margin: 35px 15px 33px 15px;
  color: $text-black-color;

  &__title {
    margin: 0;
    font-size: 50px;
    line-height: 50px;
  }

  &__description {
    margin-top: 24px;
    font-size: 24px;
    line-height: 34px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 111px;
    justify-content: space-between;
  }

  @include for-large-up {
    position: absolute;
    z-index: 1;
    max-width: 754px;
    margin: 0;
    margin-top: 76px;

    &__title {
      font-size: 80px;
      line-height: 78px;
    }

    &__description {
      max-width: 456px;
      margin: 0;
      margin-top: 34px;
    }

    &__buttons {
      flex-direction: row;
      width: 328px;
      margin-top: 58px;
      justify-content: space-between;
    }
  }
}

.headline-banner {
  @include for-large-up {
    position: relative;
    left: 579px;
    bottom: 77px;
    width: 796px;
    height: 448px;
  }
}
