$button-blue-color: rgba(48, 64, 196, 1);

$text-blue-color: rgba(49, 66, 196, 1);

$text-black-color: rgba(43, 41, 45, 1);

$text-gray-color: rgba(43, 41, 45, 0.6);

$back-gray-color: rgba(244, 245, 247, 1);

$back-pink-color: rgba(243, 198, 189, 1);

$bord-color: rgba(43, 41, 45, 0.2);

$prioriti-white-color: rgba(255, 255, 255, 1);
